* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

header {
    background-color: rgb(245, 245, 245);
}

header .logo {
    background-image: url("./img/logorestaurante-removebg-preview.png");
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 50px;
    font-weight: bold;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: blueviolet;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/lomo-saltado-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: white;
}

#hero button{
    font-size: 2.5em;

}

body {
    margin: 0;

}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;

}

button:hover {
    background-color: rgb(101, 33, 165);

}

.container {
    max-width: 1400px;
    margin: auto;
}

#Bloque1 .container {
    text-align: center;
    padding: 200px 12px;
}

#Bloque1 .class_container{
    padding-top: 100px;
}


#nuestros_eventos {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#nuestros_eventos .container {
    padding: 120px 0px 0px 0px;

}

#nuestros_eventos h2 {
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros_eventos p {
    display: none;
}
#nuestros_eventos .carta{
    background-size: cover;
    background-position: center center;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/matrimonio.jpg);
}

.carta:nth-child(2){
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/quinceaños-scaled-1.jpg);
}
.carta:nth-child(3){
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/eventolove-wedding-bodas-tartaspersonalizadas-babyshower-cumpleaños-primercumpleaños-comunion-bautizo-scaled.jpg);
}

#nuestros_eventos .contactanos{
    background-size: cover;
    background-position: center center;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}
#Bloque2{
    background-color: rgb( 212, 172, 13 );
}

#Bloque2 .container{
    text-align: center;
    padding: 100px 12px;
}

#Bloque3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;

}

#Bloque3 button{
    font-size: 3vw;
}

#Bloque3 h2{
    font-size: 7vw;
    color: black;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;


}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    
    header .container{
        flex-direction: row;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        justify-content: space-between;
        padding-right: 20px;
    }

    #Bloque1 .container{
        display: flex;
        justify-content: space-evenly;
    }

    #Bloque1 .img-container{
        background-image: url("./img/241380676_114173150986354_243972166155483239_n.jpg");
        background-size: cover;
        background-position: center center;
        height: 520px;
        width: 500px;    
    }

    #Bloque1 h2{
        margin-top: 0px;

    }

    #Bloque1 .class_container{
        width: 50%;
        max-width: 600px;
        padding-left: 30px;
        text-align: initial;
        align-items: center;
    }

    #nuestros_eventos .eventos{
        display: flex;
        justify-content: center;
    }

    #nuestros_eventos p{
        display: block;
        margin-bottom: 30px;
    }
    
    #nuestros_eventos h3{
        margin-top: 0;
    }

    #nuestros_eventos .carta{
        padding: 50px;
    }

    #Bloque2 .container{
        text-align: initial;

    }



}